body {
  font-family: 'roboto';
  max-width: 100%;
  margin-left: 2.1875rem; ;
  margin-right: 2.1875rem; ;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;padding-bottom: 2%;
  padding: auto;
}

.back-btn img{
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
  color: #000;
}

.header-right{
  justify-content: flex-end;
  display: flex;
  margin-right: 3.5%;
}
.header-right img {
  width: 80%;
}


.logo {
  width: 100%;
}

.content{
  width: 95.5%;
  margin-top: -5%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-top :2%;
}

@media screen and (max-width: 768px) {
  .content {
    /* 2. Ubah susunannya jadi ke BAWAH dan DIBALIK */
    flex-direction: column-reverse;
  }
  .content img{
    width: 100%;
    height: 16px;
  }
}

.content p{
  text-align: justify;
}


.content img{
    margin-top: 17%;
    height: auto; 
    object-fit: cover;
    border-radius: 3%;
}

h2 {
  color: #f97316;
}

/* footer */
.footer {
  margin-top: 7%;
  margin-left:-2.1875rem;
  margin-right:-2.1875rem;
  width: auto;
  background-color: #f97316;
  color: #fff;
  display: flex;
  padding-top: 1%;
  padding-left: 5.5%;
  justify-content: space-between;
  margin-bottom: -0.5%;
  padding-bottom: 1%;
  font-family: 'roboto';
  display: flex;
  gap: 2%;
}

.footer h3 {
  margin-bottom: 5%;
}

.footer-logo img {
  width: 80%;
  margin-right: 2%;
  margin-top: 30px;
}


.contain {
  max-width: 1140px;  /* Atur batas lebar konten di sini */
  margin-left: auto;   /* Bikin ke tengah */
  margin-right: auto;  /* Bikin ke tengah */
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-logo img {
    margin-top: 0;
    margin-bottom: 10px;
  }
}