
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #f57c26;
  color: white;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  text-align: center;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo h2 {
  font-size: 16px;
  font-weight: bold;
}

.logo p {
  font-size: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 25px;
  height: 100%;
}

.baru {
  color: rgb(255, 102, 0);
  text-decoration: none;
  padding: 10px 0;
  border: 15px solid #fff;
  padding-left: 15px;
  margin-bottom: 8px;
  border-radius: 15px;
  background: #fff;
}

.menub a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
}

.menu > a {
  color: rgb(255, 102, 0);
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.logout {
  border: 0;
  border-radius: 10px;
  width: 70px;
  height: 35px;
  background-color: transparent;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: -10px;
  margin-top: auto;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: #fff4ec;
  overflow: hidden;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border-radius: 12px;
  flex: 1;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card .icon {
  font-size: 50px;
}

.card p {
  color: #555;
}

.card h3 {
  color: #000;
  font-size: 30px;
}

/* ========================= */
/*     TABLE FIX ANTI ZOOM   */
/* ========================= */

.table-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 60vh;              /* tinggi UTAMA */
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.table-section h3 {
  color: #f57c26;
  margin-bottom: 15px;
}

.table-wrapper {
  flex: 1;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: block;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #ffe2ca;
}

tbody {
  display: block;
  overflow-y: auto;
  width: 100%;
  height: calc(60vh - 120px);   /* MAGIC: anti-zoom, fix scroll */
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #fff2e5;
}
th, td {
  text-align: left;
}
