body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

h3{
    font-size: 1.5rem;
}
 
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 5%;
  background-color: #fff;
}
 
.back-btn img{
  font-size: 150%;
  color: black;
  text-decoration: none;
  width: 2.4rem;
  height: 2.4rem;
}
 
.header-right img {
  text-align: right; width: 80%;
}
 
.logo {
  width: 15%;
}
 
.hero {
  position: relative;
  width: 100%;
}
 
.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}
 
.hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0,0,0,0));
  color: white;
  padding: 0% 3%;
  font-size: 120%;
  font-weight: bold;
}
 
 
main {
  width: 80%;
  margin: -2% auto;
}
 
h2 {
  color: #fcfbfb;
}
 
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
 
label {
  margin-top: 2%;
  font-weight: bold;
}
 
input, textarea {
  width: 100%;
  padding: 2%;
  border: 0.1em solid #cccccc;
  border-radius: 0.5em;
  font-size: 100%;
}
 
 
.radio-group {
  display: flex;
  padding-left: 3%;
  gap: 10%;
  margin-top: 1%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2rem;
}


.radio-group label {
  gap: 0.5rem;      /* jarak bulat ke teks */
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10%;               /* jarak bulat ke teks */
  cursor: pointer;
}

.radio-group input[type="radio"] {
  cursor: pointer;
 width: 44px;
  height: 44px;
}
 
button {
  margin-top: 3%;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 104.2%;
  height: 65px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 100px;
}
 
button:hover {
  background-color: #e05d00;
}
 
@media  screen and (max-width:400px) {
  .radio-group {
    flex-direction: column;
    gap: 1%;
  }  
}

.marg{
  margin-bottom: 100px;
}